@import "tailwindcss";

@theme {
  --color-violet-25: #fcfaff;
  --grid-template-columns-app: minmax(18rem, 20rem) 1fr;
  --grid-template-columns-profile: max-content 1fr min-content;
  --grid-template-columns-form: minmax(7.5rem, 17.5rem) minmax(25rem, 1fr)
    minmax(0, 15rem);
  --border-width: 6px;

  --animate-slideDownAndFade: slideDownAndFade 0.4s
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideUpAndFade: slideUpAndFade 1s linear;

  @keyframes slideDownAndFade {
    0% {
      opacity: 0;
      transform: translateY(-2px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideUpAndFade {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f8443b;
  --color-error-600: #d92d2b;
  --color-error-700: #b4231b;
  --color-error-800: #912018;
  --color-error-900: #7a271a;
}
